blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

body {
  max-width: 960px;
  outline: 1px solid red;
}

cite {
  display: block;
  margin-top: 10px;
}

section {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  outline: 1px solid green;
}

#external-links ul {
  width: 100%;
  list-style-type: none;
  padding-left: 0px;
  outline: 1px solid blue;

}

main {
  display: inline-block;
  width: 756px;
  outline: 1px solid orange;
}


img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}
@media screen and (max-width: 500px) {
  body {
    background-color: blue;
    
  }
}

@media screen and (max-width: 350px) {
  body {
    color: red;
  }
  }

