#contact-info p
{
	font-size: .8em;
}

div > p {
	font-weight: bold;
}

.job {

	background-color: #e9e5dc;
	padding: 10px;
	border-radius: 2em;
	margin-top: .5cm;
}

.accomplishment {
	font-size: .8em;
}